@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

body {
	font-family: 'IBM Plex Mono', monospace;
	color: #fff;
	background-color: #242124;
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
}

.footer {
	margin: 5em auto;
}

p {
	color: #fff;
}

a {
	color:  #7efff5;
}

.industry li a {
	background-color: none;
}

.mui-table.mui-table--bordered>tbody>tr>td,
.mui-table>thead>tr>th {
  border-bottom: 1px solid rgba(255,255,255,.8);
}

.mui-btn.mui-btn--flat {
	background-color: white;
}

.mui-panel.industry {
	background: black;
	color: white;
	transform: skewX(-10deg);
	text-transform: uppercase;
}

img.coin-avatar {
	height: 12em;
	width: 12em;
}

.mui-btn {
	  border-radius: 0px !important;
}

.button-group {
	display: flex;
	justify-content: space-between;
}

.button-group button:nth-child(odd) {
	background-color: #fff200;
}

.button-group button:nth-child(even) {
	background-color: #3ae374;
}

i.brand-icon {
	margin-bottom: -4px;
	width: 17px;
	height: 17px;
	display: inline-block;
	background: url('http://res.cloudinary.com/dattofkud/image/upload/v1524155762/brands/GitHub-Mark-Light-32px.png') no-repeat;
	background-size: 17px;
}


