.cryptocurrency-item {
	border-bottom: 1px solid rgba(0, 0, 0, .3);
/*	padding: 6px 3px 6px 3px;*/

}
.cryptocurrency-item:hover {
	background: #f2f2f2;
}
.cryptocurrency-item:hover .label-list .label{
	background-color: #aaa;
}

.label-list {
	padding: 0;
	margin: 0;
	font-size: .7em;
	display: block;
	overflow-x: auto;
	text-align: right;
}

.label {
	display: inline-block;
	background-color: black;
	color: white;	
	margin-right: 5px;
	padding-left: 2px;
	padding-right: 2px;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {
	.label-list {
		padding: 6px 3px 6px 3px;
		height: 42px;	
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}