ul.industry-list {
	display: block;
	list-style: square inside;
	list-style-type: circle !important;
	overflow-y: hidden;
}

.industry-list li {
	display: inline;
	padding-right: .3em;
	}

td.industry {
	white-space: nowrap;
	overflow:hidden;
}

table {
	table-layout: fixed;
}

li.industry a {
	background-color: white;
	color: #343434;
	padding: .5em 1.3em;
}

li.industry {
	transform: skewX(-16deg)
}

li.industry a {
	transform: skewX(16deg);
}

.industryList {
	margin: 1em auto;
}

.industryList li {
	margin: 1em .3em;
	display: inline-block;
}
