.nav-wrapper {
  padding: 1.55rem;
}
nav.greedy {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 999;
  margin-bottom: 27px;
}

nav.greedy h1 {
  display: flex;
  font-size: 1.8em;
  align-self: stretch;
  align-items: center;
  padding: 0 1.5rem;
  font-weight: bold;
}

nav.greedy button {
  align-self: stretch;
  transition: all .4s ease-out;
  padding: 0 1rem 0 1.5rem;
  outline: 0;
  border: 0;
  font-weight: bold;
  background: #32ff7e;
  color: #404040;
}

nav.greedy button.hidden {
  transition: none;
  border-right: 0.5rem solid #b6b6b6;
  width: 0;
  padding: 0;
  overflow: hidden;
  border-right: none;
}

nav.greedy button::after {
  content: attr(count);
  display: inline-flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #4b4b4b;
  border-radius: 50%;
  font-size: 14px;
  line-height: 14px;
  margin-left: 1rem;
  margin-right: calc(-1rem + -8px);
}

ul.links {
  list-style: inside circle;
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
}

ul.links li {
  margin: 0;
  flex: none;
  padding: 1rem;
}

ul.links li a {
  color: #32ff7e;
}

ul.hidden-links {
  list-style: circle;
  position: absolute;
  background: #000;
  right: 0;
  top: 100%;
}

ul.hidden-links li a {
  color: #32ff7e;
  padding-right: 1rem;
}

ul.hidden-links li a:hover {
  color: #ddd;
}

ul.hidden-links.hidden {
  display: none;
}

ul.hidden-links li {
  padding: 1rem;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 375px) {
  nav.greedy button::after {
    display: none;
  }
}
